/* todo list and items */

.list {
    margin-left: -8vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list__item {
    width: 83%;
}

.list__item--done {
    text-decoration: line-through;
}

.flex-container {
    display: flex;
    align-items: center;
}

/* checkbox */
.checkbox {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 4px solid #000;
    padding: 2vw;
    display: inline-block;
    position: relative;
    width: 3vw;
    height: 3vw;
    margin-right: 20px;
    visibility: hidden;
}

.checkbox--visible {
    visibility: visible;
}

.checkbox:checked:after {
    content: '\2714';
    font-size: 6vw;
    position: absolute;
    top: -2vw;
    left: -0.5vw;
}

/* delete button */
.delete {
    font-size: 5vw;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    visibility: hidden;
    cursor: pointer;
    
}

.delete--visible {
    visibility: visible;
}